.btn {
  border: none;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px;
  padding: 15px 10px;
  cursor: pointer;
}
.btn_POSITIVE {
  background-color: cornflowerblue;
  color: white;
}
.btn_COUNSEL {
  width: 500px;
  background-color: cornflowerblue;
  color: white;
}
@media (max-width: 768px) {
  .btn_COUNSEL {
    width: 200px;
    background-color: cornflowerblue;
    color: white;
  }
}
