.Counting {
  padding: 30px 20px;
}
.Counting > section {
  padding: 10px 0px;
  margin-bottom: 10px;
}
.Counting > section > div {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.Counting .name .name_input {
  width: 99.5%;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 5px;
  height: 35px;
  font-size: 20px;
}
.Counting .info > div {
  display: flex;
  font-size: 16px;
  justify-content: center;
  color: grey;
  font-weight: bold;
  /* white-space: nowrap; */
}

.Counting .install_info > select {
  width: 100%;
  height: 30px;
}
.Counting .counting_content .counting_content_text {
  width: 99%;
  min-height: 250px;
  resize: vertical;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 5px;
  font-size: 16px;
}
.Counting .btn {
  display: flex;
  justify-content: center;
}

.Counting .install_info .select {
  border: 1px solid rgb(130, 130, 130);
  border-radius: 5px;
  height: 50px;
  font-size: 16px;
}
.Counting .phone_number .number_input {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.Counting .phone_number .number_input > input {
  border: 1px solid rgb(130, 130, 130);
  border-radius: 5px;
  padding: 10px 5px;
  flex: 1;
  min-width: 0;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkBoxInput {
  width: 2rem;
  height: 2rem;
}
.name_input {
  font-size: 16px;
}
