.Counting {
  padding: 30px 20px;
}
.Counting > section {
  padding: 10px 0px;
  margin-bottom: 10px;
}
.Counting > section > div {
  font-size: 15px;
  color: black;
  font-weight: bold;
  /* white-space: nowrap; */
}
@media screen and (min-width: 415px) and (max-width: 700px) {
  .Counting > section > div {
    font-size: 15px;
  }
}
@media screen and (min-width: 767px) {
  .Counting > section > div {
    font-size: 30px;
  }
}
.Counting .info > div {
  display: flex;
  font-size: 15px;
  justify-content: center;
  color: grey;
  font-weight: bold;
  /* white-space: nowrap; */
}
@media screen and (min-width: 415px) and (max-width: 700px) {
  .Counting .info > div {
    font-size: 15px;
  }
}
@media screen and (min-width: 767px) {
  .Counting .info > div {
    font-size: 20px;
  }
}

.Counting .name .name_input {
  width: 97.7%;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 5px;
  padding: 10px 5px;
}
.Counting .install_info > select {
  width: 100%;
  height: 30px;
}
.Counting .counting_content .counting_content_text {
  width: 98.9%;
  min-height: 250px;
  resize: vertical;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 5px;
}
.Counting .btn {
  display: flex;
  justify-content: center;
}

.Counting .install_info .select {
  border: 1px solid rgb(130, 130, 130);
  border-radius: 5px;
  padding: 10px 5px;
  height: 50px;
  font-size: 15px;
}
.Counting .phone_number .number_input {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.Counting .phone_number .number_input > input {
  border: 1px solid rgb(130, 130, 130);
  border-radius: 5px;
  padding: 10px 5px;
  flex: 1;
  /* 입력 필드가 가능한 공간을 차지하도록 설정 */
  min-width: 0;
  /* 최소 너비를 0으로 설정하여 줄어들 수 있도록 함 */
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.checkBoxInput {
  width: 2rem;
  height: 2rem;
}
