.Header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(236, 236, 236);
}
.Header .logo .logo_img {
  width: 100px;
}
.Header .logo div {
  font-size: 25px;
  font-weight: bold;
}
.Header .info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.Header .info img {
  width: 60px;
}
.Header .info .info_text {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.Header .info .info_text {
  font-size: 11px;
  font-weight: bold;
}
@media screen and (min-width: 767px) {
  .Header .info .info_text {
    font-size: 15px;
  }
}
.Header .info .info_text .phone_number_text {
  font-size: 16px;
  font-weight: bold;
  color: royalblue;
}
@media screen and (min-width: 767px) {
  .Header .info .info_text .phone_number_text {
    font-size: 25px;
  }
}

.Header .info .location_info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 5px;
}
.Header .info .location_info div {
  font-size: 14px;
  font-weight: bold;
}
@media screen and (min-width: 767px) {
  .Header .info .location_info div {
    font-size: 18px;
  }
}
.Header .info .info_text a {
  text-decoration: none;
  color: inherit;
}
