.Introduce {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Introduce .title {
  font-size: 14px;
  font-weight: bold;
}
.Introduce .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.Introduce .text > div {
  font-size: 10px;
  font-weight: 600;
}
